.txt-xs {
  font-size: 80%;
}

.txt-sm {
  font-size: 90%;
}

.txt-muted {
  color: $color-gray;
}

.txt-info {
  color: $color-info;
}

.txt-warn {
  color: $color-warn;
}

.txt-danger {
  color: $color-danger;
}

.txt-success {
  color: $color-success;
}

.txt-primary {
  color: $primary-color;
}
